.header-container {
  background-image: url("../../../public/banner.jpg");
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.banner {
  background-color: rgba(245, 244, 241, 0.607);
  height: 100%;
  font-weight: bold;
}
